.banner {
  min-height: 305px;
  margin-bottom: 197px;
  padding: 30px 35px;

  text-align: center;

  background-color: #68b738;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.banner__title {
  margin: 0;
  margin-bottom: 19px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}

.banner__slogan {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.banner__button {
  position: relative;
  bottom: -365px;
  margin: 0;
  max-width: 280px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .banner {
    background: none;
  }
}

@media (min-width: 768px) {
  .banner {
    margin-left: 120px;
    margin-right: 30px;
    margin-bottom: 0;
    min-height: auto;
  }

  .banner__title {
    max-width: 420px;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
  }

  .banner__slogan {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .banner__button {
    width: 245px;
    margin: 0;
    bottom: 0;
  }
}

@media (min-width: 1440px) {
  .banner {
    min-height: 696px;
    margin-top: -90px;
    margin-right: 0;
    margin-bottom: 80px;
    background-position: right;
    background-color: transparent;
    background-image:
      url("../../img/index-background-mobile@1x.jpg"),
      linear-gradient(to left, #68b738 60%, #ffffff 40%);
    background-size: contain;
  }

  .banner__wrapper {
    width: 1247px;
    margin: 0;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
  }
}
