.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__product-card {
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;

  background-color: #ffffff;
  border: 1px solid #ededed;
  border-bottom: none;
}

.catalog__item:last-child .catalog__product-card {
  border-bottom: 1px solid #ededed;
}
