.cooperation {
  position: relative;

  &--inner {
    background-color: #f2f2f2;
  }
}

.cooperation__wrapper {
  padding-top: 31px;
  padding-bottom: 26px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.cooperation__invite {
  margin: 0;
  padding: 0;
  width: 123px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__address {
  margin: 0;
  padding: 0;
  width: 134px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: 768px) {
  .cooperation__wrapper {
    padding-top: 31px;
    padding-bottom: 26px;
    margin: 0 70px;
  }

  .cooperation__invite {
    width: 154px;
  }

  .cooperation__address {
    width: 153px;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .cooperation__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    bottom: 104px;
    padding-left: 56px;
    padding-top: 79px;
    padding-right: 90px;
    padding-bottom: 59px;
    margin: 0;
    width: 570px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .cooperation__map {
    height: 400px;
  }

  .cooperation__address {
    width: 155px;
  }
}
