.cooperation {
  position: relative;

  &--inner {
    background-color: #f2f2f2;
  }
}

.cooperation__wrapper {
  //justify-content: space-between;
}

.cooperation__card {
  display: flex;
  padding-top: 28px;
  padding-bottom: 26px;
  margin: 0 20px;
}

.cooperation__invite {
  margin: 0;
  margin-right: 16px;
  padding: 0;
  width: 125px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__address {
  margin: 0;
  padding: 0;
  width: 135px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: 768px) {
  .cooperation__card {
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 56px;
    margin: 0 70px;
  }

  .cooperation__invite {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .cooperation__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .cooperation__address span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 1300px) {
  .cooperation__wrapper {
    position: absolute;
    top: 107px;
    left: 50%;
    width: 1220px;
    z-index: 2;
    transform: translateX(-50%);
  }

  .cooperation__card {
    //position: absolute;
    //top: 107px;
    //left: 0;
    bottom: 104px;
    padding-left: 76px;
    padding-top: 65px;
    padding-right: 90px;
    padding-bottom: 59px;
    margin: 0;
    width: 570px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .cooperation__map {
    height: 412px;
    z-index: 1;
  }

  .cooperation__address {
    width: 155px;
    text-align: left;
  }
}
