.living-example {
  padding-top: 33px;
  padding-bottom: 38px;

  background-color: #f2f2f2;
}

.living-example__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.living-example__program {
  margin-bottom: 38px;
}

.living-example__condition {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.living-example__condition small {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;
}

.living-example__price {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}
