.navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
}

.navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "OswaldMedium", "Arial", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  background-color: #ffffff;
  border-top: 1px solid #e7e7e7;
  border-bottom: none;
}

.navigation__item:last-child .navigation__link {
  border-bottom: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 407px;
  }
}

@media (min-width: 1440px) {
  .navigation__list {
    width: 490px;
  }

  .navigation__link {
    background-color: transparent;
  }
}
