.navigation__button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  width: 63px;
  height: 65px;
  background: none;
  border: none;
}

.navigation--closed .navigation__button::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;

  width: 24px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.navigation--opened .navigation__button::before,
.navigation--opened .navigation__button::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 19px;

  width: 20px;
  height: 2px;

  background-color: #222222;
}

.navigation--opened .navigation__button::before {
  transform: rotate(45deg);
}

.navigation--opened .navigation__button::after {
  transform: rotate(-45deg);
}

.navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: none;
}

.navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "OswaldMedium", "Arial", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  background-color: #ffffff;
}

@media (max-width: 767px) {
  .navigation--nojs .navigation__button {
    display: none;
  }

  .navigation--nojs .navigation__item {
    display: block;
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--opened .navigation__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .navigation__button {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .navigation__item {
    margin-left: 35px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;

    &--active {
      border-bottom-color: #68b738;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .navigation__link {
    padding-top: 7px;
    padding-left: 0;
    padding-bottom: 7px;
    padding-right: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: -0.5px;
    border: none;
    transition: all 0.3s;

    &:hover,
    &:active {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}

@media (min-width: 1300px) {
  .navigation__item--active {
    border-bottom-color: #ffffff;
  }

  .navigation__link {
    padding-top: 15px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    letter-spacing: 0;
    background-color: transparent;

    &:hover {
      color: rgba(225, 225, 225, 0.6);
    }

    &:active {
      color: rgba(225, 225, 225, 0.3);
    }
  }

  .navigation--inner .navigation__item--active {
    border-bottom-color: #68b738;
  }

  .navigation--inner .navigation__link {
    color: #111111;

    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}
