.page-header {
  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  height: 39px;
}

@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .page-header {
    width: 1220px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
}
