.page-content__title {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 36px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
}
