.page-content__title {
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 28px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
}

.page-content__motivation {
  margin: 0 20px;
  margin-bottom: 39px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.page-content__motivation br {
  display: none;
}

@media (min-width: 768px) {
  .page-content__title {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 33px;
    margin-bottom: 59px;
    font-size: 60px;
    line-height: 60px;
  }

  .page-content__motivation {
    width: 324px;
    margin: 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .page-content__motivation br {
    display: block;
  }
}

@media (min-width: 1300px) {
  .page-content__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .page-content__motivation {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 69px;
  }
}
