.product__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 14px;

  &--extra {
    flex-direction: column;
    padding: 0;
  }

  &--extra .product__button {
    margin: 0;
  }
}

.product__wrapper-info {
  margin-top: 21px;
}

.product__link {
  display: block;
}

.product__image {
  display: block;
  width: 140px;
  height: 144px;
}

.product__name {
  max-width: 74px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 11px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;

  text-transform: uppercase;

  &--extra {
    margin-bottom: 11px;
    max-width: 100%;
  }
}

.product__characteristics {
  margin-right: 2px;
}

.product__button {
  padding: 10px;
  margin: 0 19px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .product__wrapper {
    flex-direction: column;
    padding: 0;

    &--extra {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--extra .product__button {
      width: 100%;
    }
  }

  .product__link {
    text-align: center;

    &--image {
      display: flex;
      align-items: flex-end;
      align-self: center;
      min-height: 207px;
      margin-bottom: 17px;
    }
  }

  .product__image {
    margin: 0 auto;
    width: auto;
    height: auto;
  }

  .product__name {
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &--extra {
      max-width: 50%;
      margin: 0;
      margin-bottom: 26px;
    }
  }

  .product__characteristics {
    margin-right: 0;
    margin-bottom: 32px;
    padding-left: 36px;
    padding-right: 35px;
  }

  .product__button {
    margin: 0;
    margin-left: 38px;
    margin-right: 37px;
  }
}

@media (min-width: 1300px) {
  .product__name {
    &--extra {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  .product__wrapper {
    &--extra {
      align-items: center;
      justify-content: space-between;
    }
  }

  .product__link--image {
    margin-bottom: 15px;
  }
}
