.product__wrapper {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 14px;

  &--extra {
    flex-direction: column;
  }
}

.product__wrapper-info {
  margin-top: 21px;
}

.product__link {
  display: block;
}

.product__image {
  display: block;
  width: 140px;
  height: 144px;
}

.product__name {
  max-width: 74px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 11px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;

  text-transform: uppercase;

  &--extra {
    margin-bottom: 13px;
    max-width: 100%;
  }
}

.product__characteristics {
  margin-right: 2px;
  //margin-bottom: 23px;
}

.product__button {
  //width: 100%;
  padding: 10px;
  margin: 0 19px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .product__wrapper {
    flex-direction: column;

    &--extra {
      flex-direction: row;
    }
  }

  .product__link {
    margin-bottom: 39px;
    text-align: center;
  }

  .product__name {
    margin: 0 auto;
    margin-bottom: 28px;

    &--extra {
      width: auto;
      margin: 0;
      margin-bottom: 26px;
    }
  }

  .product__characteristics {
    margin-bottom: 33px;
  }
}

@media (min-width: 1300px) {
  .product__name {
    &--extra {
      margin-bottom: 0;
      margin-right: auto;
    }
  }

  .product__wrapper {
    &--extra {
      align-items: center;
      justify-content: space-between;
    }
  }
}
