.programms {
  margin: 20px;
  margin-top: 0;

  text-align: center;
}

.programms__card {
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 22px;

  background-color: #f2f2f2;
}

.programms__card:last-child {
  margin-bottom: 0;
}

.programms__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.programms__description {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
}

.programms__link {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .programms {
    margin: 30px;
    margin-top: 0;
  }

  .programms__card {
    padding-left: 55px;
    padding-top: 81px;
    padding-right: 62px;
    padding-bottom: 62px;
    margin-bottom: 30px;
  }

  .programms__description {
    width: 371px;
  }
}

@media (min-width: 1440px) {
  .programms {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .programms__wrapper {
    display: flex;
  }

  .programms__card {
    margin-right: 80px;
    margin-bottom: 0;
    padding-left: 52px;
    padding-top: 41px;
    padding-right: 56px;
    padding-bottom: 62px;
    width: 570px;
  }

  .programms__card:last-child {
    margin-right: 0;
  }

  .programms__description {
    width: auto;
  }
}
