.programms {
  margin: 0 20px;
  margin-bottom: 17px;

  text-align: center;
}

.programms__card {
  margin-bottom: 20px;
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

.programms__card:last-child {
  margin-bottom: 0;
}

.programms__title {
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-left: 71px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
  }

  &::after {
    position: absolute;
  }

  &--slim::after {
    content: url("../img/icon-cat-slim.svg");
    top: -9px;
    left: 10px;
    width: 35px;
    height: 49px;
  }

  &--mass::after {
    content: url("../img/icon-cat-pro.svg");
    top: 3px;
    left: -7px;
    width: 67px;
    height: 28px;
  }
}

.programms__description {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

.programms__link {
  position: relative;
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  transition: all 0.3s;

  &--arrow::after {
    content: url("../img/icon-right-arrow-long.svg");
    position: absolute;
    top: 18px;
    left: 97px;
    width: 25px;
    height: 12px;
    transition: all 0.3s;
  }

  &--arrow:hover::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    width: 34px;
  }

  &--arrow:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .programms__title {
    padding-left: 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 16px;
      left: auto;
      right: 0;
    }

    &::after {
      left: auto;
    }

    &--slim::after {
      top: 4px;
      right: 30px;
      width: 141px;
      height: 194px;
    }

    &--mass::after {
      top: 59px;
      right: -35px;
      width: 268px;
      height: 113px;
    }
  }
}

@media (min-width: 768px) {
  .programms {
    margin: 0 30px;
    margin-top: -110px;
    margin-bottom: 45px;
  }

  .programms__card {
    padding-left: 53px;
    padding-top: 76px;
    padding-right: 62px;
    padding-bottom: 41px;
    margin-bottom: 30px;
  }

  .programms__title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 37px;
  }

  .programms__description {
    padding-bottom: 0;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
    border: none;

    &--slim {
      width: 372px;
    }

    &--mass {
      width: 341px;
    }
  }

  .programms__link {
    font-size: 20px;
    line-height: 20px;

    &--arrow::after {
      top: 17px;
      left: 130px;
    }
  }
}

@media (min-width: 1300px) {
  .programms {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 43px;
  }

  .programms__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .programms__card {
    margin-right: 80px;
    margin-bottom: 30px;
    padding-left: 52px;
    padding-top: 76px;
    padding-right: 56px;
    padding-bottom: 41px;
    width: 462px;
  }

  .programms__card:nth-child(2n) {
    margin-right: 0;
  }

  .programms__title {
    padding-left: 162px;
    margin-bottom: 73px;

    &::before {
      top: -30px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -37px;
      left: 13px;
      width: 71px;
      height: 97px;
    }

    &--mass::after {
      top: -8px;
      left: -18px;
      width: 134px;
      height: 57px;
    }
  }

  .programms__description {
    margin-bottom: 11px;
    width: auto;
  }
}
