.special-offer {
  display: flex;
  height: 290px;

  text-align: center;

  background-color: #68b738;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.special-offer__description {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
  padding: 0;
  width: 160px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .special-offer {
    height: 200px;
  }

  .special-offer__description {
    margin-right: 155px;
    margin-bottom: auto;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .special-offer {
    min-width: 245px;
    height: 290px;
  }

  .special-offer__description {
    margin-right: auto;
    margin-bottom: 43px;
    text-align: center;
  }
}
