.special-offer {
  display: flex;

  margin: 0 20px;
  padding-top: 65px;
  padding-right: 30px;
  padding-bottom: 42px;
  padding-left: 30px;

  text-align: center;

  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.special-offer__description {
  position: relative;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  padding-top: 122px;
  width: 165px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-align: center;

  &::before {
    content: url("../img/icon-gift.svg");
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 56px;
    height: 61px;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .special-offer {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: 70px;
    padding-right: 120px;
    padding-bottom: 68px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .special-offer__description {
    margin: 0;
    margin-bottom: auto;
    padding-top: 0;
    padding-left: 305px;
    text-align: left;

    &::before {
      top: -7px;
      left: 0;
    }
  }
}

@media (min-width: 1300px) {
  .special-offer {
    justify-content: center;
    align-items: center;
    width: 245px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 35px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .special-offer__description {
    margin: 0;
    text-align: center;
  }
}
