.steps {
  margin: 0 20px;
  margin-bottom: 40px;
}

.steps__item:last-child {
  margin-bottom: 0;
}

.steps__item {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
}

.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.steps__title {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .steps {
    margin: 0 30px;
    margin-bottom: 50px;
  }

  .steps__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .steps__item {
    max-width: 244px;
  }
}

@media (min-width: 1440px) {
  .steps {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}
