.button {
  display: block;
  padding: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
}
