.copyright {
  &__link-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", sans-serif;
    text-align: left;
    color: #444444;
  }
}
