@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff"), url("../fonts/oswaldregular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff"), url("../fonts/oswaldmedium.woff2");
  font-weight: 500;
  font-style: normal;
}
