.product__Link {
  display: block;
}

.product__name {
  max-width: 74px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;

  text-transform: uppercase;
}

.product__characteristics {
  margin-bottom: 23px;
}
