.steps {
  margin-bottom: 40px;
}

.steps__item:last-child {
  margin-bottom: 0;
}

.steps__item {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
}

.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.steps__title {
  margin-bottom: 30px;
}
