.table {
  width: 140px;
}

.table__value {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
}
